.customer-info-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.customer-info-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border-radius: 20px;
	width: 100%;
}

.customer-info-card {
	display: flex;
	flex-direction: column;

	gap: 1rem;
	padding: 1rem;
	border-radius: 10px;
}

.customer-info-card-header {
	font-size: large;
	font-weight: 600;
	color: black;
}

.customer-info-card-body {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.photos-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: 20px;
	overflow-x: hidden;
}

.photos-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem 2rem;
}

.photos-grid-card {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
}
